/* demo colors*/
.red {
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
     background-color: green;
}
.coral{
    background-color: coral;
}
/*end demo colors*/

body{
    background-color: #eaeaea;
    /*background-color:#bebebe;*/
}
/* section header style*/
.section-header{
    background-color: #ffffff;
    box-shadow: 0 4px 7px rgba(0,0,0,0.14);
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-size: 48px;

    transform: translateY(-50%);
    padding-top: 17px;
    padding-bottom: 11px;
}

.container-fluid.no-section-header-padding .section-header,
.container.no-section-header-padding .section-header{
    position: absolute;
    z-index: 1000;
}
.section-header .title{
    font-weight: bold;
}
.section-header .title a{
    color: #de6322;
}
.section-header .title a:hover{
    text-decoration: none;
}
/* end section header style*/




/* section news  */
.news {
  position: relative;
}
.news .row  .col-md {
  padding: 0;
}
.news-content-1 .news-content-box {
  margin-right: 1px;
  margin-bottom: 1px;
}
.news-content-2 .news-content-box {
  margin-right: 1px;
}
.news-content-box {
  height: 270px;
  position: relative;
  color: #ffffff;
  font-family: 'BPG Nino Mtavruli', sans-serif;

}
.news-content-box:hover .news-content-box-txt {
  opacity: 1;
}
.news-content-box::after {
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    transition: height 0.3s ease-out;
    visibility: visible;
    display: block;
}

.image-transparent {
  background-image: linear-gradient(to bottom right, rgba(105,105,105, 0.2) 30% , 	rgba(255,99,71,  0.2) 70%);
}
.news-content-box-txt {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  transition: .5s ease;
  opacity: 0;
}

.news-content-box-txt h3 {
  font-size: 24px;
}
.content-img-1 {
  background-image: url("../../img/news1.png");
  background-size: cover;
}
.content-img-2 {
  background-image: url("../../img/news2.png");
  background-size: cover;
}
.content-img-3 {
  background-image: url("../../img/news3.png");
  background-size: cover;
}
.content-img-4 {
  background-image: url("../../img/news4.png");
  background-size: cover;
}
.content-img-5 {
  background-image: url("../../img/news5.png");
  background-size: cover;
}
.content-img-6 {
  background-image: url("../../img/news6.png");
  background-size: cover;
}
/* end section news  */



/*contact-section*/
.contact {
}
.contact .map-place{
    width: 100%;
    margin:0;
    border: 0;
    height: 360px;
}
.contact .footer{
    background-color: #121212;
    color:#ffffff;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 10px;
}
/*end contact section*/
